d3-chart {
  .axis path,
  .axis line {
    fill: none;
    stroke: #a2a2a2;
    stroke-width: 1.2;
    shape-rendering: crispEdges;
  }
  text {
    font-size: 12px;
    fill: #a2a2a2;
  }
  .dot {
    stroke: #337ab7;
    stroke-width: 2px;
    fill: #fff;
  }

  .true-dot {
    fill:  #fff;
    stroke:  #95d0ab;
    stroke-width: 2px;
  }
  path.true-interpolation {
    stroke: #95d0ab;
    fill:none;
    stroke-width: 2px;
  }

  path.interpolation {
    fill: none;
    stroke: #337ab7;
    stroke-width: 2px;
  }
  path.interpolation {

  }

}

.chart-icon{
  width: 100%;
  text-align: center;
}
.fa {
  font-size: 5em;
}
