<div ng-if="!showResults" cg-busy="contentRender"></div>
<div ng-if="showResults && showHeatmap" cg-busy="heatmapRender"></div>

<div ng-if="errors.length === 0">
  <div class="row">
    <div class="col-xs-12">
      <img ng-src="{{thumbUrl}}" ng-if="thumbUrl"/>
      <h3 ng-bind="headline"></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p ng-bind="content"></p>
    </div>
  </div>
  <d3-chart ng-if="loaded" label-x="{{labelX}}"
    range-x="rangeX"
    y-label="{{yLabel}}"
    y-range="yRange"
    show-results="showResults"
    show-heatmap="showHeatmap"
    clear-data="clearData"
    true-line="trueLine">
  </d3-chart>

  <div class="row">
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          class="pull-left"
          ng-model="showHeatmap"
          />
        Show Heatmap
      </label>
      <button class="btn btn-default pull-right"
        ng-click="handleClear()">Clear</button>
      <button class="btn btn-primary pull-right"
        ng-click="handleSubmission()">I'm done</button>
    </div>
  </div>
</div>

<div ng-if="errors.length > 0">
  <ul>
    <li ng-repeat="error in errors" ng-bind="error"></li>
  </ul>
</div>
