d3-chart {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .dot, .true-dot {
    stroke: #000;
  }
  path.interpolation,
  path.true-interpolation {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
  }
}

.chart-icon{
  width: 100%;
  text-align: center;
  font-size: 5em;
}
