<div ng-if="!showResults" cg-busy="contentRender"></div>
<div ng-if="showResults && showHeatmap" cg-busy="heatmapRender"></div>

<div ng-if="errors.length === 0" cg-busy="{promise: submission, delay: 250, minDuration: 1000}">
  <div class="row">
    <div class="col-xs-12">
      <img ng-src="{{thumbUrl}}" ng-if="thumbUrl"/>
      <h3 ng-bind="headline"></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p ng-bind="content"></p>
    </div>
  </div>
  <div class="visible-xs-block chart-icon">
    <i class="fa fa-line-chart"></i><br>
    <span>Click the view page button to interact</span>
  </div>
  <d3-chart class="hidden-xs" ng-if="loaded"
    label-x="{{labelX}}"
    range-x="rangeX"
    y-label="{{yLabel}}"
    y-range="yRange"
    show-results="showResults"
    show-heatmap="showHeatmap"
    clear-data="clearData"
    true-line="trueLine"
    heat-map="heatmap">
  </d3-chart>

  <div class="row hidden-xs">
    <div class="col-xs-12">
      <label
      ng-show="showResults">
        <input type="checkbox"
          class="pull-left"
          ng-model="showHeatmap"
          />
        Show Heatmap
      </label>
    <button class="btn btn-primary"
      ng-click="handleSubmission()"
      ng-disabled="showResults"
      ng-hide="showResults">I'm done</button>
      <button class="btn btn-default"
        ng-click="handleClear()"
        ng-disabled="showResults"
        ng-hide="showResults">Clear</button>
    </div>
  </div>
</div>

<div ng-if="errors.length > 0">
  <ul>
    <li ng-repeat="error in errors" ng-bind="error"></li>
  </ul>
</div>
